NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_MERCHANT_WALLET_ADDRESS=GEb5buFCULQdb4SR5QrD6rCv657ZQL4VCgsJ82Vo5gm6
NEXT_PUBLIC_PAYGRID_API_SECRET=pg_f596ab4ed98fcaf1c9897905ac4041df802ae5d33b12e7aaf09ef94d8092dfea
DB_PATH=../paygrid.db
NEXT_PUBLIC_NETWORK=mainnet-beta
NEXT_PUBLIC_ADMIN_EMAIL=admin@paygrid.com
NEXT_PUBLIC_ADMIN_PASSWORD=securepassword123
